@import '~antd/dist/antd.css';
@import './variables';

/*Default Ant override*/
/*Buttons*/
.ant-btn-primary {
  background-color: $primaryColor;
  &:focus {
    background-color: $primaryColor;
  }
}
/*Forms*/
.ant-form {
  .ant-row.ant-form-item {
    flex-direction: column;
    .ant-col.ant-form-item-label {
      text-align: left;
    }
  }
}

/*Drawer*/
.ant-drawer {
  .ant-drawer-content-wrapper {
    @media (max-width: 500px) {
      width: 100%;
    }
  }
}
/*End default Ant override*/
