@import '../../variables';

.admin-sidebar {
  background-color: $secondaryColor;
  height: 100vh;
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .logo {
      width: 90px;
      height: 32px;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  .ant-menu {
    background-color: $secondaryColor;
  }
}
